<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>86629602490-gbgg1vnnf1956fao8of1b41jloijpq6v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.86629602490-gbgg1vnnf1956fao8of1b41jloijpq6v</string>
	<key>API_KEY</key>
	<string>AIzaSyAE5PGHio5v9ArUFGegejbQA7Qja-Z8NFE</string>
	<key>GCM_SENDER_ID</key>
	<string>86629602490</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.studybuddy</string>
	<key>PROJECT_ID</key>
	<string>studybuddy-350d1</string>
	<key>STORAGE_BUCKET</key>
	<string>studybuddy-350d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:86629602490:ios:46b5ab5ab068cfbff91e83</string>
	<key>DATABASE_URL</key>
	<string>https://studybuddy-350d1-default-rtdb.firebaseio.com</string>
</dict>
</plist>